<div class="flex shadow-md my-10">
    <div class="w-3/4 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">Mis Compras</h1>
        <h2 class="font-semibold text-2xl">{{totalItems}} Items</h2>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Detalles</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Cantidad</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Precio</h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
      </div>
      
      <!-- Cart Item -->
      <ng-container *ngFor="let cartItem of cartList">
        <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5" *ngFor="let order of cartItem.orders">
          <div class="flex w-2/5">
            <div class="w-20">
              <img class="h-24" [src]="order.product.img" alt="product image">
            </div>
            <div class="flex flex-col justify-between ml-4 flex-grow">
              <span class="font-bold text-sm">{{ order.product.name }}</span>
              <span class="text-red-500 text-xs">{{ order.shipment.comment }}</span>
            </div>
          </div>
          <div class="flex justify-center w-1/5">
            <!-- Quantity Selector Placeholder -->
            <input class="mx-2 border text-center w-8" type="text" [value]="order.quantity">
          </div>
          <span class="text-center w-1/5 font-semibold text-sm">{{order.unitPrice}}</span>
          <span class="text-center w-1/5 font-semibold text-sm">{{order.amount}}</span>
        </div>
      <!-- More cart items... -->
    </ng-container>

      <!-- Continue Shopping Button -->
      <a href="/products" class="flex font-semibold text-indigo-600 text-sm mt-10">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <!-- SVG path for back arrow -->
        </svg>
        Continuar Comprando
      </a>
    </div>

    <!-- Order Summary -->
    <div id="summary" class="w-1/4 px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase">Productos </span>
        <span class="font-semibold text-sm">{{totalItems}}</span>
      </div>
      <div class="flex justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase">Total</span>
        <span class="font-semibold text-sm"> ${{totalAmount}}</span>
      </div>
      <div class="flex justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase">Descuento</span>
        <span class="font-semibold text-sm"> $ 0 </span>
      </div>
      <div>
        <label class="font-medium inline-block mb-3 text-sm uppercase">Elige tu forma de pago</label>
        <select class="block p-2 text-gray-600 w-full text-sm" >
          <ng-container *ngFor="let p of paymentTypes">
            <option [value]="p._id">Tipo- {{ p.type }}</option>
          </ng-container>
        </select>
      </div>
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span>${{totalAmount}}</span>
        </div>
        <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Pagar</button>
      </div>
    </div>