<div class="bg-slate-900 "> 
  <button mat-button class="bg-dark " (click)="toggleSidenav()" style="color: white;">
  <mat-icon>menu</mat-icon>
  </button>
</div>


<mat-sidenav-container class="h-full ">
  <mat-sidenav #sidenav mode="side" class="bg-blue-700 text-white">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <mat-list-item (click)="toggleOptions()" *ngIf="isAdmin">
        Opciones
        <mat-icon mat-list-icon>arrow_drop_down</mat-icon>
      </mat-list-item>
      <div *ngIf="showOptions && isAdmin">
        <a mat-list-item routerLink="/category">Categorias</a>
        <a mat-list-item routerLink="/payment_type">Tipo de Pago</a>
        <a mat-list-item routerLink="/discount">Descuentos</a>
        <a mat-list-item routerLink="/">Usuarios</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
