
<div class="flex justify-center items-center min-h-screen bg-[#635ca6]">
  <mat-card class="w-full max-w-md p-8">
      <h3 class="flex justify-center items-center m-10"><span>Login With google or GitHub</span> </h3>
      <app-auth0-login class="flex justify-center items-center m-10"></app-auth0-login>

    <form [formGroup]="loginForm" (submit)="onSubmit()" class="space-y-4">
      <mat-form-field class="w-full">
        <input matInput placeholder="Email" formControlName="email" required />
      </mat-form-field>
      <mat-form-field class="w-full">
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
          name="password"
          required
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="w-full">
        Login
      </button>
    </form>
    <div class="flex justify-between mt-4">
      <a routerLink="/register" class="text-blue-600 hover:underline"
        >Registrarse</a
      >
      <a href="#" class="text-blue-600 hover:underline"
        >¿Olvidaste tu contraseña?</a
      >
    </div>
  </mat-card>
</div>

