<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Comment</mat-label>
    <input
      matInput
      formControlName="comment"
      placeholder="Enter your comment"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a rate between 1 to 5</mat-label>
    <input matInput type="number" formControlName="rate" />
  </mat-form-field>
  <div class="flex justify-center">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
