<table mat-table [dataSource]="CategoryList" class="mat-elevation-z8">

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let category"> {{category.category}} </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let category"> {{category.state}} </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let category">
      <button mat-mini-fab color="primary" [routerLink]="['edit',category._id]" aria-label="Example icon button with a delete icon">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let category">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
    </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
  <button [routerLink]="'create'">Create Category</button>