<div
  class="bg-slate-900 min-h-screen flex flex-col items-center justify-center"
>
  <div class="max-w-md w-full sm:p-6 mx-auto">
    <mat-card>
      <mat-card-content class="p-6">
        <form [formGroup]="discountForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>Value</mat-label>
              <input
                type="number"
                matInput
                formControlName="value"
                placeholder="Enter value"
              />
            </mat-form-field>

            <mat-form-field class="w-full">
              <mat-label>Choose category</mat-label>
              <mat-select formControlName="category">
                <ng-container *ngFor="let category of categories">
                  <mat-option  [value]="category._id">{{ category.category }}</mat-option>
                </ng-container> 
              </mat-select>
            </mat-form-field>




          </div>
          <div class="mb-4">
            <div class="flex justify-center">
              <button mat-raised-button color="primary" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
