<div class="flex flex-col min-h-screen bg-slate-900">
  <main class="flex-grow">
    <section class="text-center py-4 sm:py-6 md:py-8">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-bold text-white mb-4 rotating-text">Bienvenido a nuestro comercio</h1>
      <p class="text-gray-600">Donde encontras los mejores precios</p>
    </section>
    <!-- Responsive Image with centered alignment and rounded borders -->
    <img class="image mx-auto rounded-lg image-hover-effect rotating-text" src="https://th.bing.com/th/id/OIG.bdtrjOq9NWYIv0JXjb5D?pid=ImgGn">
  </main>

  <footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2023 Market Plax</p>
    </div>
  </footer>
</div>
